#skullLogo{
  height: 100px;
}
body{
	    margin: 0px 0px;
	    padding: 0px 0px;
background-color: black;
}

div.container{
  color: #d6d6d6;
font-family: 'Open Sans', sans-serif;
text-align: center;

}

#center{
  text-align: center;
}

div.container.demo-2{
	width: 100%;
	margin: 0px;
	padding: 0px;

}

h1{
  font-size: 128px !important;
  display: inline-block;
  font-family: 'Poiret One', cursive;
  color: #b499ff;
}


#icons{
  height: 40px;
  margin-left: -18px;
}

#iconbox{
      margin-bottom: -20px;
    margin-top: -10px;
}

*::-ms-backdrop, #icons { margin-left: -60px } /* IE11 */

#headerPic{

  height: 200px;
}

#headerContainer{
  display: flex;
  align-items: center;
}

.navbar-inverse {
      background-image: linear-gradient(to bottom,black 0,#111546 100%);

}

.btn-primary{
      background-color: black !important;
     
      border: 1px solid #6027a4;
       box-shadow: 0px 0px 40px 4px #4912f2;
       background-image: none;
}

.btn{
   background-color: black !important;
}

.btn:hover{
  background-color: #6027a4 !important;
}

.img-responsive {
  max-width: 90%;
}