@font-face {
    font-family: stitchFont;
    src: url("../fonts/MixStitch.ttf");
}

canvas {
  display: block; 
  left: 50%;
  margin: -200px 0 0 -200px;
  position: absolute;
  top: 50%;
}



body{
	    margin: 0px 0px;
	    padding: 0px 0px;
	    background-color: black;
}
.demo-2 .large-header {
	background-color: black;
	width: 100%;
}

div.container{
  color: #d6d6d6;
}

#center{
  text-align: center;
}

div.container.demo-2{
	width: 100%;
	margin: 0px;
	padding: 0px;

}

h1{
  font-size: 95px !important;
  display: inline-block;
}

.stitched {
   padding: 20px;
   margin: 10px;
   background-image: url("../images/fabric.png");
   color: #2b2b2b;
   font-size: 88px;
  text-shadow: 1px 1px 2px black;
   line-height: 1.3em;
   border: 3px dashed #777777;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #cacaca, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

   font-family: stitchFont;
}

 

.arrow-up {

width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 173.2px 100px;
border-color: transparent transparent white transparent;
  position: fixed;
   top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -49.5%);
  	background-color: #FFFFFF80;
-webkit-animation: infinite-spinning 5s infinite; /* Safari 4+ */
  -moz-animation:    infinite-spinning 5s infinite; /* Fx 5+ */
  -o-animation:      infinite-spinning 5s infinite; /* Opera 12+ */
  animation:         infinite-spinning 5s infinite; /* IE 10+, Fx 29+ */
  animation-duration: 100s;
}
.arrow-up2 {

width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 173.2px 100px;
border-color: transparent transparent white transparent;
  position: fixed;
   top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-0.5%, 49%);
  	background-color: #FFFFFF80;
-webkit-animation: infinite-spinning 5s infinite; /* Safari 4+ */
  -moz-animation:    infinite-spinning 5s infinite; /* Fx 5+ */
  -o-animation:      infinite-spinning 5s infinite; /* Opera 12+ */
  animation:         infinite-spinning 5s infinite; /* IE 10+, Fx 29+ */
  animation-duration: 100s;

}
.arrow-up3 {

width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 173.2px 100px;
border-color: transparent transparent white transparent;
  position: fixed;
   top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-99.5%, 49%);
  	background-color: #FFFFFF80;
-webkit-animation: infinite-spinning 5s infinite; /* Safari 4+ */
  -moz-animation:    infinite-spinning 5s infinite; /* Fx 5+ */
  -o-animation:      infinite-spinning 5s infinite; /* Opera 12+ */
  animation:         infinite-spinning 5s infinite; /* IE 10+, Fx 29+ */
  animation-duration: 100s;

}

.arrow-up4 {
  width: 0;
height: 0;
z-index:9;
border-style: solid;
border-width: 173.2px 100px 0 100px;
border-color: white transparent transparent transparent;
  position: fixed;
   top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 50%);
    background-color: #FFFFFF80;
-webkit-animation: infinite-spinning2 5s infinite; /* Safari 4+ */
  -moz-animation:    infinite-spinning2 5s infinite; /* Fx 5+ */
  -o-animation:      infinite-spinning2 5s infinite; /* Opera 12+ */
  animation:         infinite-spinning2 5s infinite; /* IE 10+, Fx 29+ */
  animation-duration: 200s;

}
@keyframes infinite-spinning2 {
      0%   {border-color: white transparent transparent transparent;}

    50% {border-color: black transparent transparent transparent;}
  100%   {border-color: white transparent transparent transparent;}
}
@keyframes infinite-spinning {
	    0%   {border-color: transparent transparent black transparent;}

    50% {border-color: transparent transparent white transparent;}
    100%   {border-color: transparent transparent black transparent;}
}


#icons{
  height: 40px;
  margin-left: -18px;
}

#iconbox{
      margin-bottom: -20px;
    margin-top: -10px;
}

*::-ms-backdrop, #icons { margin-left: -60px } /* IE11 */

.trippytext {
  /* Typography */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: .02em;
  font-size: 7em;
  line-height:1em;
 
  /* Effects */
  text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.15);

  /* Lots of Colors - Like a Rainbow */
  background: linear-gradient(45deg, #58c8e8,  #a8cb2d, #f1b007, #f1b007, #cb502d, #f1b007, #a8cb2d,  #58c8e8, #a8cb2d, #f1b007, #f1b007, #cb502d, #f1b007, #a8cb2d,  #58c8e8);
  background-size:250% 500%;
  
  /* Clips the gradient to the text */
  -webkit-background-clip: text;

  /* Animate Gradient */
  -webkit-text-fill-color: transparent;
  -webkit-animation: textAnim 5s ease-out infinite;

  /* Trigger Hardware Acceleration */
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;

}

/* Defined the Animation */
@-webkit-keyframes textAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
